@import url('https://fonts.cdnfonts.com/css/futura-md-bt');
.thefont {
  font-family: 'Futura Md BT', sans-serif;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}